<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>WordNest</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="icon" type="image/png" th:src="@{/images/logo.png}" src="../images/logo.png">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="w-screen">
		<nav>
		  <button href="/login" class="btn"><a href="/login">login</a></button>
		  <button  class="btn"><a href="/register">Register</a></button>
		</nav>
		<div class="w-screen ">
			<div class="flex flex-col">
				<div>
					<h1>Welcome to WordNest</h1>
					<p>Your hub for sharing ideas, stories, and inspiration!<p>
				</div>
				<div>
					<img th:src="@{/images/home/main-content.jpg}"/>	
				</div>
			</div>
		</div>
		
	</body>	
</html>